body {
  margin: 0;
  padding: 0;
  line-height: unset !important;
  background-color: #F5F5F6 !important;
}

html, body { margin: 0; padding: 0 }


div.mainLogin {
  height: 100%;
}

.mainLogin .logoContainer img {
  width: 30%;
}

.userMainGrid {
  padding-top: 40px !important;
}
.userReportItem {
  text-align: left;
  min-width: 400px;
}

.formActions {
  margin-top: 20px;
}

.textCentered {
  text-align: center;
}

.editButton {
  margin-left: 10px !important;
}
.clickable {
  cursor: pointer;
}

.userReportItem  .deleteReport {
  visibility: hidden;
}

.userReportItem:hover  .deleteReport {
  visibility: visible;
}

.reportForm.readOnly {
  opacity: 0.6;
  pointer-events: none;
}